<!-- <% if(items.status>=1) {%>
    <a href="#"><span class="label label-success">active</span></a>
    <% } else if(items.status==0) {%>
    <a href="#"><span class="label label-warning">inactive</span></a>
    <%}%> -->
    <% statusHelper=(status,link)=>{ %>
                <a href="<%= link %>">
                    <% if(status>=1) { %>
                        <span class="label label-success">active</span>
                        <%} else if(status==0) {%>
                            <span class="label label-warning">inactive</span>
                            <%}%>
                </a>
        <% } %>